  /* Style the links inside the navigation bar */
  .topnav a {
    color: #131111;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(124, 125, 139);
    color: rgb(44, 42, 59);
  }
  
  /* Position of nav aspects */
  .highscore {
    float: left;
  }

  .timer {
    float: right;
  }